/*
Placeholder for custom user CSS

mainly to be overridden in profile/static/custom/custom.css

This will always be an empty file
*/

#ipython_notebook {
  pointer-events: none;
}

/* change notebook logo */
#ipython_notebook img {
  display: block;
  background: url("https://d-flux.s3.ap-south-1.amazonaws.com/dflux-logo.svg")
    no-repeat;
  background-size: contain;
  width: 104px;
  height: 28px;
  padding-left: 100px;
  padding-right: 50px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* hide navbar */
.navbar-default {
  display: none;
}

/* hide python kernel icon */
#kernel_logo_widget .current_kernel_logo {
  display: none !important;
}

/* move filename right site */
span.save_widget {
  height: 30 px;
  margin-top: 4 px;
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  width: 50%;
  flex: 1;
}

/* toolbar */
/* div#maintoolbar {
  display: none;
} */
